body {
  font-family: "DM Sans";
  color: black;
  padding: 0;
  margin: 0;
}

/* Navbar */
.hss-navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 120px;
}

.nav-links {
  display: flex;
}

.nav-right {
  display: flex;
  align-items: center;
}

.dept-name {
  display: flex;
  flex-direction: column;
}

.dept-name span:nth-child(1) {
  font-size: 14px;
}

.dept-name span:nth-child(2) {
  font-size: 18px;
}

.nav-links li {
  list-style-type: none;

  display: flex;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #303030;
  padding: 28px 20px;
}

.nav-links li .active {
  text-decoration: none;
  border-bottom: 4px solid #164e83;
  color: #164e83;
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
  display: inline;
  margin: 0px 15px;
}

/* Footer */
.footer {
  background: #1b2d45;
  color: white;
  padding: 80px 120px 30px;
  font-size: 14px;
}

.footer .about {
  display: flex;
  justify-content: space-between;
}

.footer .about h3 {
  font-size: 32px;
  margin: 0px 0px 60px;
}

.about a {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 20px;
}

.about a:hover {
  color: #ccc;
}

.footer > hr {
  margin-top: 60px;
}

.footer .copyrights {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

i {
  margin-right: 10px;
}

/* Content */
.landing {
  padding: 75px 10vw;
  display: flex;
  align-items: center;
}
.homepage-headings {
  width: 40%;
  margin-right: 10%;
}
.homepage-heading1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  letter-spacing: 0.4em;
}
.homepage-heading2 {
  font-family: Domaine Display Test;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 120%;
  /* or 58px */

  color: #1b2d45;
}
.grey-back {
  width: 60%;
  height: 40%;
  background-color: #f5faff;
  position: absolute;
  z-index: -1;
  /* margin-left:30%;  */
  right: 0px;
}
.view {
  padding: 75px 10vw;
}

.view:nth-child(odd) {
  background: rgba(251, 251, 253, 1);
}

.view button {
  background: rgba(248, 249, 251, 1);
  border: 1px solid rgba(27, 45, 69, 1);
  padding: 12px 20px;
  border-radius: 4px;
  color: rgba(27, 45, 69, 1);
}

.view h2 {
  font-size: 40px;
  color: rgba(27, 45, 69, 1);
  font-weight: 400;
  font-family: Domaine Display Test;
  font-style: normal;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #1b2d45;
}

.view p {
  color: rgba(27, 45, 69, 1);
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #435579;
}

.view button {
  font-size: 14px;
  line-height: 16px;
  color: rgba(27, 45, 69, 1);
}

/* .view:nth-child(1) {
  box-shadow: 50px 50px 0px 20px green;
} */

/* Announcments */
.announcments {
  margin-top: 5rem;
}

.announcments > a > div {
  border-bottom: 1px solid rgba(48, 48, 48, 0.12);
  padding: 3rem;
}

.announcments a {
  text-decoration: none;
}

.announcments div:hover {
  background: #f5faff;
}

.announcments h3 {
  margin: 0px;
}

.announcments h5 {
  color: #435579;
}

.announcments__footer {
  display: flex;
  color: #7b88a1;
}

.announcments__footer > span {
  margin-right: 2rem;
}

.homepage-history-content {
  padding-left: 50px;
}
/* Our History */
.view__history {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.view__history h2 {
  padding-bottom: 50px;
}

/* Propective Students */
.students > h2,
.students > p {
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
}

.students > div {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.students > div > div {
  display: flex;
  align-items: center;
  margin: 40px;
}

.students > div > div > img {
  box-shadow: 1px 1px 50px #aaa;
}

.students > div > div:last-child {
  flex-direction: row-reverse;
}

.students > div > div > div {
  background: white;
  padding: 30px;
  border-radius: 4px;
  z-index: 2;
  /* margin-left: -50px; */
}

.students > div > div > div > button {
  background: transparent;
}

/* News and Events*/

.view__news__awards > p {
  max-width: 800px;
}
.view__news__awards h2 {
  padding-bottom: 50px;
}
.card__div {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
}

.card__div button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 20px;
  color: #164e83;
}

.card__news {
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  margin: 20px;
}

.card__news img {
  width: 100%;
}
.card__news p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #435579;
}

.card__news > div,
.card__awards > div {
  padding: 20px;
}

.card__awards {
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  margin: 20px;
}

.card__awards th {
  padding-right: 20px;
  color: #7b88a1;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  padding-bottom: 10px;
}

.dp {
  display: flex;
  margin-bottom: 20px;
}
.dp > img {
  margin-right: 20px;
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.view__more {
  display: flex;
  flex-direction: column;
  align-items: center;
}
