.faclink1 {
  position: absolute;
  width: 70px;
  height: 26px;
  left: 120px;
  top: 127px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #7b88a1;
}
.faclinkecond {
  position: absolute;
  width: 148px;
  height: 26px;
  left: 194px;
  top: 124px;

  /* Paragraph Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Headings */

  color: #1b2d45;
}
.econdg1244 {
  position: absolute;
  width: 116px;
  height: 116px;
  left: 120px;
  top: 555px;
}
.econdlinkhead {
  position: absolute;
  width: 990px;
  height: 38px;
  left: 120px;
  top: 187px;

  /* Heading 3 */

  font-family: Domaine Display Test;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */

  color: #1b2d45;
}
.econdg1245 {
  position: absolute;
  width: 110.12px;
  height: 116px;
  left: 1183.88px;
  top: 235px;
}
.econdrect {
  position: absolute;
  width: 1133px;
  height: 400px;
  left: 159px;
  top: 265px;

  background: #f3f3f3;
}
.mainbuildingecondlarge {
  position: absolute;
  width: 1143px;
  height: 406px;
  left: 158px;
  top: 275.5px;

  background: url(ayaneshu-bhardwaj-Acx3N9h-QXs-unsplash.jpg);
  filter: drop-shadow(20px 20px 29px rgba(27, 45, 69, 0.1));
  border-radius: 4px;
}
.econdpara1 {
  position: absolute;
  width: 786px;
  height: 128px;
  left: 327px;
  top: 751px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  color: #435579;
}
.mainbuildingecondsmall {
  position: absolute;
  width: 781px;
  height: 188px;
  left: 327px;
  top: 934px;

  background: url(ayaneshu-bhardwaj-Acx3N9h-QXs-unsplash.jpg);
  border-radius: 4px;
}
.econdani {
  position: absolute;
  width: 762.4px;
  height: 45px;
  left: 327px;
  top: 1146px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 45px */

  color: #1b2d45;
}
.econdanitext {
  position: absolute;
  width: 762.4px;
  height: 160px;
  left: 327px;
  top: 1199px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  color: #435579;
}
.econdcd {
  position: absolute;
  width: 762.4px;
  height: 45px;
  left: 327px;
  top: 1419px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 45px */

  color: #1b2d45;
}
.econdcdtext {
  position: absolute;
  width: 762.4px;
  height: 224px;
  left: 327px;
  top: 1472px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  text-transform: capitalize;

  color: #435579;
}
.econdiscom {
  position: absolute;
  width: 762.4px;
  height: 45px;
  left: 327px;
  top: 1724px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 45px */

  color: #1b2d45;
}
.econdiscomtext {
  position: absolute;
  width: 786px;
  height: 224px;
  left: 327px;
  top: 1777px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  text-transform: capitalize;

  color: #435579;
}
.econdnsstext {
  position: absolute;
  width: 786px;
  height: 352px;
  left: 327px;
  top: 2114px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  text-transform: capitalize;

  color: #435579;
}
.econdnss {
  position: absolute;
  width: 762.4px;
  height: 45px;
  left: 327px;
  top: 2061px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 45px */

  color: #1b2d45;
}
.econdwbg1 {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 2469px;

  background: #ffffff;
}
.econdimglink1 {
  position: absolute;
  width: 378px;
  height: 500px;
  left: 123px;
  top: 200px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
}
.econdimg1 {
  position: absolute;
  width: 378px;
  height: 219px;
  left: 0px;
  top: 0px;

  background: url(image.png);
  border-radius: 8px 8px 0px 0px;
}
.econdlanglab {
  position: absolute;
  width: 162px;
  height: 29px;
  left: 24px;
  top: 243px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-transform: capitalize;

  color: #1b2d45;
}
.econdlanglabtext {
  position: absolute;
  width: 330px;
  height: 132px;
  left: 24px;
  top: 280px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  text-transform: capitalize;

  color: #435579;
}
.econdgreybg1 {
  position: absolute;
  width: 378px;
  height: 43px;
  left: 0px;
  top: 457px;

  background: #f8f9fb;
  border-radius: 0px 0px 8px 8px;
}
.econdllreadmore {
  position: absolute;
  width: 81px;
  height: 16px;
  left: 137px;
  top: 14px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #164e83;
}
.econdarrow1 {
  position: absolute;
  left: 213.67px;
  right: 8.34%;
  top: 13.67px;
  bottom: -75%;
}
.econdimglink2 {
  position: absolute;
  width: 378px;
  height: 500px;
  left: 551px;
  top: 200px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
}
.econdimglink3 {
  position: absolute;
  width: 378px;
  height: 500px;
  left: 979px;
  top: 200px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
}
.econddlcl2 {
  position: absolute;
  width: 354px;
  height: 58px;
  left: 24px;
  top: 243px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;

  color: #1b2d45;
}
