body {
  font-family: "DM Sans";
  color: black;
  padding: 0;
  margin: 0;
}

/* Navbar */
.hss-navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 120px;
}

.grey-back {
  width: 50%;
  height: 40%;
  background-color: #f5faff;
  position: absolute;
  z-index: -1;
  margin-top: 28vh;
  right: 0px;
}

.about-heading {
  font-family: Domaine Display Test;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
  color: #1b2d45;
}

.about-intro {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 160%;
  color: #435579;
  padding-right: 10vw; 
}

.nav-links {
  display: flex;
}

.nav-right {
  display: flex;
  align-items: center;
}

.dept-name {
  display: flex;
  flex-direction: column;
}

.dept-name span:nth-child(1) {
  font-size: 14px;
}

.dept-name span:nth-child(2) {
  font-size: 18px;
}

.nav-links li {
  list-style-type: none;

  display: flex;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #303030;
  padding: 28px 20px;
}

.nav-links li .active {
  text-decoration: none;
  border-bottom: 4px solid #164e83;
  color: #164e83;
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
  display: inline;
  margin: 0px 15px;
}

/* Footer */
.footer {
  background: #1b2d45;
  color: white;
  padding: 80px 120px 30px;
  font-size: 14px;
}

.footer .about {
  display: flex;
  justify-content: space-between;
}

.footer .about h3 {
  font-size: 32px;
  margin: 0px 0px 60px;
}

.footer > hr {
  margin-top: 60px;
}

.footer .copyrights {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

i {
  margin-right: 10px;
}

/* Content */

.view {
  padding: 75px 120px;
}

.view:nth-child(even) {
  background: rgba(251, 251, 253, 1);
}

.view button {
  background: rgba(248, 249, 251, 1);
  border: 1px solid rgba(27, 45, 69, 1);
  padding: 12px 20px;
  border-radius: 4px;
  color: rgba(27, 45, 69, 1);
}

.view h2 {
  font-size: 48px;
  color: rgba(27, 45, 69, 1);
  font-weight: 400;
  font-family: Domaine Display Test;
  font-style: normal;
  padding: 20px 0 20px 0;
}

.view p {
  color: rgba(27, 45, 69, 1);
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
}

.view button {
  font-size: 14px;
  line-height: 16px;
  color: rgba(27, 45, 69, 1);
}

/* .view:nth-child(1) {
    box-shadow: 50px 50px 0px 20px green;
  } */

.office-staff {
  padding: 75px 120px;
  background: rgba(251, 251, 253, 1);
}

.office-staff h2 {
  font-size: 40px;
  color: rgba(27, 45, 69, 1);
}

.office-staff p {
  font-size: 20px;
  color: rgba(48, 48, 48, 1);
}

.staff-list {
  display: flex;
  justify-content: space-around;
}

.staff-card {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(206, 206, 206, 0.2);
  border-radius: 5px;
  box-shadow: 0px 8px 12px 0px rgba(154, 170, 207, 0.18);
  margin: 20px auto;
}

.staff-card img {
  border-radius: 5px 0px 0px 5px;
}

.staff-card h3 {
  color: rgba(27, 45, 69, 1);
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(67, 85, 121, 0.2);
  font-size: 20px;
  line-height: 32px;
}

.staff-card span {
  font-size: 16px;
  color: rgba(67, 85, 121, 1);
  line-height: 25px;
}

.staff-card div {
  margin: 0px 20px;
}

/* Announcments */
.announcments {
  margin-top: 5rem;
}

.announcments > div {
  border-bottom: 1px solid rgba(48, 48, 48, 0.12);
  padding: 3rem;
}

.announcments div:hover {
  background: #f5faff;
}

.announcments h3 {
  margin: 0px;
}

.announcments h5 {
  color: #435579;
}

.announcments__footer {
  display: flex;
  color: #7b88a1;
}

.announcments__footer > span {
  margin-right: 2rem;
}

/* About */
.about {
  display: flex;
  align-items: flex-start;
  margin: 0 2vw;
}

/* Our History */
.view__history {
  display: flex;
  align-items: center;
}
.history__card {
  background: white;
  padding: 30px 50px;
  margin: 150px 0 0 -10vw;
  border-radius: 10px;
}
.hod{
  width:100%;
}
/*From HODs Desk*/
.hod > h2 {
  text-align: center;
}
.hod__about {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 10vw;
}
.hod__about > div {
  background: rgba(251, 251, 253, 1);
  padding: 40px 60px;
  margin: 170px -5vw 0 0;
  border-radius: 10px;
  /* position:absolute; */
}
.hod__about > div > h3 {
  line-height: 51px;
  margin: 0px;
  border-bottom: 1px solid rgba(67, 85, 121, 0.2);
  color: #1b2d45;
}
.hod__about > div > p {
  line-height: 41px;
  margin: 0px;
  color: #435579;
}
.hod__about > div > span {
  line-height: 21px;
  margin: 0px;
  color: #435579;
}
.hod__note {
  background: rgba(251, 251, 253, 1);
  box-shadow: 20, 20, 60, 0, rgba(27, 45, 69, 0.04);
  padding: 70px 150px;
  margin: 50px 100px;
  text-align: justify;
}
.hod__note > h3 {
  color: #1b2d45;
  margin-bottom: 24px;
}
.hod__note > p {
  color: #435579;
  font-size: 16px;
}

/* DAPC */
.dapc > p {
  color: #435579;
  max-width: 700px;
  margin: 20px 0px;
}
